
.icon-googleplus:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-mail-1:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */